body{
            background-color: aqua;
        }
        h1{background-color: aquamarine;}
        p{text-align: justify; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: blueviolet;}
        h2{background-color: antiquewhite; color: blue;}